@font-face {
    font-family: SF;
    src: url("/resources/bmsf.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: SF, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
